//
// Override global variables
//

// Theme colors
$primary:       									#FFA800;
$primary-hover:    									#EE9D01;
$primary-light:    									#FFF4DE;
$primary-inverse:  									#FFFFFF;

// Grid columns
$grid-gutter-width:           						30px;

// Border Radiues
$border-radius:            						    .675rem;
